body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.product-card button {
    background: black;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.product-card button:hover {
    background: #444;
}
