body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(135deg, #89f7fe, #66a6ff);

}

.calculator {
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  width: 55px;
  height: 55px;
  margin: 3px;
  font-size: 18px;
  border: none;
  background: #e6e6e6;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #d4d4d4;
}

.operator {
  background: #ff9500;
  color: white;
}

.equal {
  background: #34c759;
  color: white;
  width: 120px;
}


